
section#inline-content
  .col-xs-12
    h2.h1 Inline content
    hr

  .col-xs-12.col-sm-6
    h3 Normal
    .well
      p!= '<i class="mi mi-sunrise text-danger"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.'
      p!= 'Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl <i class="mi mi-wind-rain mi-lg text-danger"></i><i class="mi mi-celsius mi-lg text-danger"></i> ut aliquip ex ea commodo consequat.'


  .col-xs-12.col-sm-6
    h3 Special
    .well
      p
        | Duis autem vel eum iriure dolor in <strong>Fixed <i class="mi mi-mist text-danger"></i> width</strong> hendrerit in vulputate velit esse molestie
        | <strong>large</strong> <i class="mi mi-lg mi-wind-rain mi-lg text-danger"></i> consequat, vel illum dolore eu feugiat nulla facilisis at vero eros
        | et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
      p
        | Nam liber tempor <strong>sup</strong> <sup><i class="mi mi-eclipse text-danger"></i></sup> cum soluta nobis eleifend option <strong>sub</strong>
        | <sub><i class="mi mi-thunderstorm-alt text-danger"></i></sub> congue nihil imperdiet doming id quod mazim placerat facer possim assum.
